.new_partcode_box {
  justify-content: space-between;
  padding-left: var(--p-12px);
  font-weight: bold;
}

.newPartcodeMessage{
  padding: var(--p-4px);
  margin-top: var(--p-4px);
  border-bottom-left-radius: var(--p-8px);
  border-bottom-right-radius: var(--p-8px);
}

.newPartcodeButton {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: var(--p-12px);
  margin-right: var(--p-12px);
  padding-top: var(--p-4px);
  padding-bottom: var(--p-4px);
  /* padding-left: var(--p-12px); */
  padding-right: calc(2 * var(--p-12px));

  border: 1px solid var(--info);
  border-radius: 22px;
  /* font-weight: var(--weight-normal); */
  cursor: pointer;
  color: var(--info);
  background-color: white;
}
.newPartcodeButton:hover {
  border: 1px solid var(--info-hover);
  color: var(--info-hover);
  /* background-color: var(--info-hover); */
}
.noResult {
  display: flex;
  /* align-items: center; */
  color: var(--text);
  margin-left: var(--p-12px);
  padding-left: var(--p-12px);
  padding-top: var(--p-4px);
  padding-bottom: var(--p-4px);
  /* border: 1px solid var(--text-strong); */
  box-sizing: content-box;
  font-weight: bold;
}

.resultFound {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: var(--p-12px);
  padding-left: var(--p-12px);
  padding-top: var(--p-4px);
  padding-bottom: var(--p-4px);
  cursor: pointer;
  background-color: white;
  border-radius: 22px;
  color: var(--text-strong);
  border: 1px solid var(--text-strong);
  box-sizing: content-box;
  font-weight: bold;
}

.resultFound:hover {
  color: var(--red);
  border: 1px solid var(--red);
  stroke: var(--red);
}