#labelDiscardGroup.button:hover{
  background-color: transparent;
  border-color: var(--danger);
  color: var(--danger);
  border: 1px solid var(--danger);
}

#labelCreateGroup.button:hover{
  background-color: transparent;
  border-color: var(--success);
  color: var(--success);
  border: 1px solid var(--success);
}



.label-group{
  margin-bottom: var(--p-4px);
  padding: var(--p-4px);
  border-top: 1px solid currentColor;
}
.label-group-item {
  background-color: darkgrey;
}
.button-box {
  margin: var(--p-4px);
  margin-top: var(--p-12px);
  min-height: 16px;
  box-sizing: border-box;
}
.button-box>.button:first-child{
  margin-right: 20px;
}