
/* #labels_history {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 50%;
  font-size: var(--size-small);
  justify-content: flex-start;
  margin-bottom: var(--p-12px);
} */
/* .labels_history_item {
  width:100%;
  padding: var(--p-4px);
  border-radius: var(--p-4px);
  cursor: pointer;
  min-height: 20px;
} */
/* .labels_history_item:hover {
  background: var(--grey);
  color: var(--text-light);
}
.groupIsSelected{
  border: 1px solid black;
} */
#labelListSearch{
  border-radius: var(--p-4px);
  border: 0;
  box-sizing: border-box;
  padding: 8px;
  outline: 0;
}