.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  background: var(--grey);
  color: var(--text-light);
  font-size: var(--size-large);
  /* margin-bottom: 72px; */
  flex: 0 0 auto;
}
.nav-left {
  display: flex;
  flex-direction: row;
  padding-left: 12px;
  width: 50%;
  flex-wrap: nowrap;
  overflow: hidden;
  min-width: 230px;
}
.nav-center {
  display: flex;
  flex-direction: row;
  border-radius: 24px;
  border: 0;
  background-color: white;
}
.nav-center.is-primary{
  border: 1px solid black
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
  padding-right: 12px;
}

.nav-subtitle {
  /* align-self: flex-end; */
  font-size: var(--size-normal);
  margin-left: 12px;
  margin-right: 12px;
}
.nav-search {
  width: 250px;
  font-size: var(--size-large);
  border: 0;
  box-sizing: border-box;
  padding: 8px;
  height: 48px;
  outline: 0;
}
/* Maximum width */
@media (max-width: 840px) {
  .nav-search {
    width: 25%;
  }
}
.nav-search::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--text-strong);
}
.navIcon {
  width: 24px;
  align-self: center;
  margin-left: 12px;
  margin-right: 12px;
}

.nav-link {
  margin-right: var(--p-6px);
  margin-left: var(--p-12px);
  cursor: pointer;
}
.nav-link:hover {
  color: var(--text-hover);
}

.navMessage {
  position: absolute;
  left: calc(100vw / 2 - 175px);
  top: 84px;
  width: 350px;
  
  display: flex;
  flex-direction: column;
  padding: var(--p-12px);
  /* padding-left: var(--p-4px); */
  /* padding-right: var(--p-4px); */
  border: 1px solid var(--text-strong);
  border-radius: var(--p-8px);
  /* padding-bottom: var(--p-12px); */
  flex: 0 1 auto;
  box-shadow: 0px 4px 12px -1px rgba(0,0,0,0.5);
}
.navMessage-head{
  font-size: var(--size-normal);
  font-weight: var(--weight-bold);
  margin-left: var(--p-6px);
  margin-top: var(--p-6px);
  margin-bottom: var(--p-6px);
  color: var(--text-strong);
}