.noResult {
  display: flex;
  align-items: center;
  color: var(--text);
}

.resultFound {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: var(--p-12px);
  padding-left: var(--p-12px);
  padding-top: var(--p-4px);
  padding-bottom: var(--p-4px);
  cursor: pointer;
  background-color: white;
  border-radius: 22px;
  color: var(--text-strong);
  border: 1px solid var(--text-strong);
  box-sizing: content-box;
}
.resultFound:hover {
  color: var(--red);
  border: 1px solid var(--red);
  stroke: var(--red);
}
/* .resultFound svg:hover{
  color: var(--red);
  stroke: crimson;
} */

