@import './root.css';
@import './nav.css';
@import './labelName.css';
@import './col-data.css';
@import '../components/label_group_new.css';
@import '../components/label_dnd.css';
@import '../components/labels_list.css';
@import '../components/label_group_list.css';

body {
  line-height: 1.2;
  font-size: var(--size-normal);
  font-family: var(--family-sans-serif);
  color: var(--text);
  margin: 0;
  padding: 0;
  height: calc(100vh - 96px);
  cursor: default;
}

.content-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* margin-top: 48px; */
  height: 100%;
}
.content-wrap>section:first-child {
  margin-left: var(--p-12px);
}
.content-wrap>section:last-child {
  margin-right: var(--p-12px);
}

section {
  display: flex;
  flex-direction: column;
  margin-top: var(--p-12px);
  margin-bottom: var(--p-12px);
  width: 270px;
  max-width: 270px;
  /* background-color: pink; */
}

.component {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  padding: var(--p-4px);
  background-color: var(--grey-lighter);
  border-radius: var(--p-8px);
  min-height: 30px;
  /* max-height: 100%; */
  margin-bottom: var(--p-12px);
  /* overflow-y: scroll; */
  /* flex: 0 1 30px; */
  
}
.flex-col{
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 0 auto; /* needed to center vertically */
}

.lineItem {
  width:100%;
  padding: var(--p-4px);
  border-radius: var(--p-4px);
  cursor: pointer;
  min-height: 20px;
}