.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  background: var(--grey);
  color: var(--text-light);
  font-size: var(--size-large);
}
.nav-left {
  display: flex;
  flex-direction: row;
  padding-left: 12px;
  width: 50%;
  flex-wrap: nowrap;
  overflow: hidden;
  min-width:230px;
}
.nav-center {
  display: flex;
  flex-direction: row;
  border-radius: 24px;
  border: 0;
  background-color: white;
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
  padding-right: 12px;
}

.nav-subtitle{
  /* align-self: flex-end; */
  font-size: var(--size-normal);
  margin-left: 12px;
  margin-right: 12px;
}
.nav-search {
  width: 250px;
  font-size: var(--size-large);
  border: 0;
  box-sizing: border-box;
  padding: 8px;
  height: 48px;
  outline: 0;
}
/* Maximum width */
@media (max-width: 839px) {
  .nav-search {
    width: 25%;
  }
}
.nav-search::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--text-strong);
}
.navIcon {
  width: 24px;
  align-self: center;
  margin-left: 12px;
  margin-right: 12px;
}

.nav-link {
  margin-right: var(--p-6px);
  margin-left: var(--p-12px);
  cursor: pointer;
}
.nav-link:hover {
  color: var(--text-hover);
}